{% extends "base.html" %}

{% block content %}

<h1>Entrar</h1>

{% if form.errors %}
    <p>E-mail ou senha inválidos.</p>
{% endif %}

<form method="post">

    {% csrf_token %}

    <label for="{{ form.username.id_for_label }}">
        E-mail
    </label>

    <input
        type="text"
        name="{{ form.username.html_name }}"
        id="{{ form.username.id_for_label }}"
        required
    >

    <label for="{{ form.password.id_for_label }}">
        Senha
    </label>

    <input
        type="password"
        name="{{ form.password.html_name }}"
        id="{{ form.password.id_for_label }}"
        required
    >

    <button type="submit">
        Entrar
    </button>

</form>
{% load socialaccount %}
<a href="{% provider_login_url 'google' %}">
    Entrar com Google
</a>
<p>
    <a href="{% url 'cadastro' %}">
        Criar conta
    </a>
</p>

<p>
    <a href="{% url 'esqueci_senha' %}">
        Esqueci minha senha
    </a>
</p>

{% endblock %}