{% extends "base.html" %}

{% block title %}Temas de {{ disciplina.nome }}{% endblock %}

{% block content %}
    <header>
        <h1>Temas da Disciplina: {{ disciplina.nome }}</h1>
        <a href="{% url 'lista_disciplinas' %}">⬅ Voltar para Disciplinas</a>
    </header>

    <hr>

    
    <section>
        <h2>Lista de Temas</h2>
        <ul>
            {% for tema in temas %}
                <li>
                    <a href="{% url 'lista_conteudos' tema.id %}">
                        <strong>{{ tema.nome }}</strong>
                    </a>

                    <a href="#">[Editar]</a> 
                    <a href="#">[Excluir]</a>
                </li>
            {% empty %}
                <li>Nenhum tema cadastrado nesta disciplina ainda.</li>
            {% endfor %}
        </ul>
    </section>

    <hr>

    <section>
        <h2>+ Novo Tema</h2>
        <form method="POST" action="{% url 'lista_temas' disciplina.id %}">
            {% csrf_token %}
            
            <div>
                <label for="nome">Nome do Tema:</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            
            <br>
            <button type="submit">Salvar Tema</button>
        </form>
    </section>
{% endblock %}