{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

```
<title>{% block title %}ClassPlanner{% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/componentes.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

{% block extra_css %}{% endblock %}
```

</head>

<body>

```
{% if user.is_authenticated %}
    {% include "includes/header.html" %}
{% endif %}

<main class="{% if user.is_authenticated %}main-with-sidebar{% else %}container{% endif %}">
    {% block content %}{% endblock %}
</main>

{% if not user.is_authenticated %}
    {% include "includes/footer.html" %}
{% endif %}
```

</body>

</html>
